:host
  flex: 1
  display: flex
  flex-direction: column
  justify-content: flex-start

.subtitle
  margin-bottom: 20px
  padding: 0 15px
  p

    text-align: center
  

.projects-options
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 15px

.projects-container
  flex: 1
  display: flex
  flex-direction: column
  justify-content: flex-start

@media screen and ( max-width: 480px )
  .subtitle
    padding: 0 20px
    p
      font-size: 0.9rem