/* You can add global styles to this file, and also import other style files */
*, *::before, *::after 
  box-sizing: border-box
  
body, html 
  margin: 0
  padding: 0
  height: 100%

body 
  font-family: Comfortaa, Arial, Helvetica, sans-serif
  --font-color-default: white
  --font-color-subtitle: rgba(255,255,255,0.8)
  --font-color-accent: #d7b0a1
  --font-family-display: Yeseva One, serif
  --color-primary: #515c6b
  --color-accent: #d7b0a1
  --color-secondary: #495361
  --color-tertiary: #3e4754

  --default-transition: all ease-in-out 200ms

  color: var(--font-color-default)
  font-weight: 300
  background-color: var(--color-primary)

a
  color: var(--font-color-accent)
  font-weight: 600
  text-decoration: none
  transition: var(--default-transition)

a:hover 
  filter: brightness(0.8)

.accent
  color: var(--font-color-accent)

.row
  display: flex
  flex-direction: row
  width: 100%

.item
  flex: 1

h1
  margin: 65px auto
  padding: 0 30px 10px 30px
  text-align: center
  font-family: var(--font-family-display)

h2
  text-align: center
  font-family: var(--font-family-display)

p
  font-size: 1.1rem
  line-height: 160%