/* You can add global styles to this file, and also import other style files */
$color-primary: #515c6b
$color-accent: #d7b0a1
$color-accent-2: #c0998b

*, *::before, *::after
  box-sizing: border-box

:root
  --color-primary: #{$color-primary}
  --color-secondary: #8a8e98
  --color-accent: #{$color-accent}
  --color-accent-second: #{$color-accent-2}
  --background-primary: white
  --font-display: Yeseva One, Times New Roman, serif
  --font-body: Comfortaa, Helvetica, Arial, sans-serif
  --font-color-primary: black

body, html
  margin: 0
  padding: 0
  height: 100%
  background: var(--color-primary)
  font-family: var(--font-body)
  font-smoothing: auto
  -wekbkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  scroll-behavior: smooth

body
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left)

h1
  font-family: var(--font-display)
  font-size: 2.5rem
  margin-top: 0
  margin-bottom: 15px !important
  text-align: center
  flex-grow: 1
  margin-bottom: 0
  letter-spacing: 0px

h2
  text-align: center
  font-weight: 700

a
  text-decoration: none
  font-weight: bold
  color: var(--color-accent)
  transition: all ease 200ms

a:hover
  color: var(--color-accent-second)

.error-link
  color: darkred
  transition: all ease 200ms

.error-link:hover
  color: black

.app-wrapper
  width: 100%
  min-height: calc(var(--vh)*100)
  display: flex
  flex-direction: column

.content
  display: flex
  flex-direction: column
  flex-grow: 1
  background-color: var(--color-primary)
  padding: 0 20px
  padding-bottom: 20px

.content > *
  display: flex
  flex-direction: column
  flex-grow: 2
  justify-content: center

.content > router-outlet
  flex-grow: 0

.content app-smart-box
  display: flex
  flex-direction: column
  flex-grow: 2
  justify-content: center

.col
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: flex-start
  align-items: center

  label
    text-align: center

.col.full
  width: 100%

@supports (-webkit-touch-callout: none)
  /* CSS specific to iOS devices */ 
  h1
    letter-spacing: -3px
