h1
  margin-bottom: 15px

h2
  font-size: 1.2rem
  padding-bottom: 10px
  border-bottom: 1px solid black
  width: 100%
  text-align: center
  margin-top: 15px
  margin-bottom: 30px

form
  flex-grow: 2
  align-items: flex-start
  justify-content: flex-start
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 20px

  .label-required
    position: relative

  .label-required::after
    content: "*"
    color: red
    font: inherit

  .user-details
    display: flex
    flex-direction: column
    align-items: center

    .detail
      margin-bottom: 10px

    .detail:last-child
      margin-bottom: 0

    .user-image
      margin-top: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      background: none
      outline: none
      border: none
      appearance: none
      -webkit-appearance: none
      z-index: 1
      transition: all ease-in-out 200ms
      color: var(--color-accent-second)
      font-weight: 600
      -webkit-tap-highlight-color: transparent

      .user-image-container
        position: relative
        margin-bottom: 0

        img
          border-radius: 50%
          width: 96px
          height: 96px
          transition: all ease-in-out 200ms

        i
          opacity: 0
          color: white
          position: absolute
          top: 50%
          left: 50%
          transform: translateY(-50%) translateX(-50%)
          transition: all ease-in-out 200ms
          z-index: 2

    .user-image:hover
      cursor: pointer

      img
        filter: brightness(0.7)

      i
        opacity: 1 !important

    .user-name
      font-weight: 700
      position: relative

  app-button-main
      margin-top: 30px

@media screen and (max-width: 830px)
  form
    gap: 20px

  h2
    width: calc(100% - 10px)
    padding-left: 5px
    padding-right: 5px
