<app-smart-box *ngIf="user$ | async as user">
  <h1>Register</h1>
  <form [formGroup]="registerForm">
    <h2>Account Details</h2>
    <div class="user-details">
      <button class="user-image">
        <img [src]="user.imageUrl ? user.imageUrl : '/assets/svg/person'" />
      </button>
      <div class="user-name">{{user.name}}</div>
      <div class="user-email">{{user.email}}</div>
    </div>
    <h2>Notification Preferences</h2>
    <label for="emails">Subscribe to Email Newsletter?:</label>
    <input type="checkbox" formControlName="emailSubscribe" [checked]="user.notifications.email" />
    <label for="push">Enable Push Notifications?:</label>
    <input type="checkbox" formControlName="notificationsSubscribe" />
  </form>
</app-smart-box>