<app-smart-box *ngIf="user$ | async as user">
  <h1>Register</h1>
  <form [formGroup]="registerForm">
    <div class="col">
      <h2>Account Details</h2>
      <div class="user-details">
        <div class="user-name detail">{{ user.name }}</div>
        <div class="user-email detail">{{ user.email }}</div>
        <button class="detail user-image" alt="Edit Image" aria-label="Edit Image" (click)="editImage()">
          <div class="user-image-container">
            <img [src]="
              user.imageUrl
                ? user.imageUrl
                : '/assets/svg/account_circle-24px.svg'
            " />
            <i class="material-icons">add_a_photo</i>
          </div>
          <div>Edit</div>
        </button>

      </div>
    </div>
    <div class="col">
      <h2>Notification Preferences</h2>
      <label for="emails">Subscribe to the Email Newsletter?:</label>
      <app-switch formControlName="emailSubscribe" off="No" on="yes"></app-switch>
      <label for="push">Turn on Push Notifications?:</label>
      <app-switch formControlName="pushNotifications" off="Off" on="On"></app-switch>
    </div>
    <div class="col full">
      <h2>Terms & Conditions</h2>
      <label for="terms" class="label-required">Do you agree to the <a routerLink="/terms" target="_blank">Terms &
          Conditions?</a></label>
      <app-switch formControlName="termsAndConditions" off="No" on="Yes" required></app-switch>

      <app-button-main [disabled]="registerForm.invalid">Register</app-button-main>
    </div>
  </form>
</app-smart-box>